---
import Layout from "../layouts/Layout.astro";
import axios from "axios";

async function fetchData() {
    try {
        const response = await axios.get("http://127.0.0.1:1337/api/test");

        if (response.status === 200) {
            const data = await response.data;
            return data;
        } else {
            throw new Error("Axios error: " + response.status);
        }
    } catch (error) {
        console.log(error);
    }
}
const data = await fetchData();
console.log(data?.data);
---

<Layout>
    <h2>{data?.data?.attributes?.field}</h2>
</Layout>
